{% extends "base.html" %}
{% block content %}

<div class="row">
    
    <!-- sidebar left -->
    <div class="span2" style="position:fixed;">
        {% include 'includes/sidebar.html' %}
    </div>
    
    <div class="span9 offset2">
    	{% include 'includes/time_navigation.html' %}
    </div>
    
    <div class="span9 offset2" style="margin-top: 100px; margin-bottom: 100px">

        <!-- content -->
        <div class="alert alert-info alert-block">
        	<h4>No news for this day!</h4>
        	There seems to be no news for you today.
        </div>
    
    </div>
  
</div>
{% endblock %}
