{% extends "base.html" %}
{% block content %}

<div class="row">
    
    <!-- sidebar left -->
    <div class="span2" style="position:fixed;">
        {% include 'includes/sidebar.html' %}
    </div>
    
    <div class="span10 offset2">
        
        <!-- view switch -->
        <!--
        <div class="row" style="margin-bottom: 20px">
            <div class="span10">
                <div class="btn-group pull-right" data-toggle="buttons-radio">
                    <button class="btn active" style="padding-bottom: 1px;"><i class="icon-th"></i></button>
                    <button class="btn" style="padding-bottom: 1px;"><i class="icon-align-left"></i></button>
                </div>
            </div>
        </div>
		-->

        {% include 'includes/time_navigation.html' %}

        <!-- content -->
        <div class="row">
            <div class="span9">
                    {% for row in articles|start_timer|sort(attribute="date")|end_timer("sorting")|start_timer|batch(3)|end_timer("batching") %}
                        <div class="row">
                        {% for article in row %}
                            <div class="span3">
                                <h5><a href="{{ request.script_root }}/read/{{ article.id }}">{{ article.headline }}</a><br />
                                <small>{{ article.author }} on {{ article.vendor.name }}, {{ article.date|datetimeformat(format="%R on %d-%m-%Y") }}</small></h5>
                                <p class="well">{{ article.clean_content|firstparagraph }}
                                    <em><a href="{{ request.script_root }}/read/{{ article.id }}">...</a></em>
                                </p>
                            </div>
                       {% endfor %}
                       </div> 
                    {% endfor %} 
            </div>
        </div>
    
    </div>
  
</div>
{% endblock %}
